* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style-type: none;
}

/* #region Header Bar */
#headerBar, #headerBarFarRightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(121, 198, 231);
    height: 10%;
}

#headerBar {
    padding-left: 2rem;
}

#headerBarFarRightSide {
    gap: 20px;
    padding-right: 2rem;
}

#headerBarCenter {
    padding-left: 100px;
    display: flex;
    align-items: center;
    height: 100%;
}

#headerBarChangeLocation {
    height: 70%;
}

#headerBarSettings {
    height: 600%;
}
/* #endregion */

/* #region Nav Bar */
#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(216, 231, 121);
    height: 5%;
    gap: 2rem;
}

/* #endregion */

/* #region Card Select Bar */
#cardSelectBar {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(121, 231, 138);
    height: 5%;
    gap: 2rem;
}

/* #endregion */

/* #region Main Window */
#contentWindow {
    display: flex;
    background-color: orange;
    height: 85%;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.windowCard {
    height: 86%;
    width: 25%;
    min-width: 345px;
    background-color: gray;
    border: medium solid black;
    border-radius: 25px;
    text-align: center;
    padding: 1rem;
}

#settingsOverlay {
    position: absolute;
    background: lightgray;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 300px;
    height: 200px;
    display: none;
    flex-direction: column;
    padding: 1% 3% 2%;
    gap: 2%;
}

#settingsOverlay p {
    font-weight: 400;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 3%;
    padding-top: 7%;
}

#settingsOverlay div button {
    margin-top: 10px;
}

.settingsOverlayRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#settingsOverlayCloseButton {
    position: absolute;
    border-style: solid;
    border-color: black;
    background: rgb(255, 41, 41);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 3%;
    right: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family:sans-serif;
    color: white;
}

/* #region Left Card */

#leftCardCondition {
    margin: auto;
    height: 100px;
}

#leftCardContent {
    margin-top: 1rem;
    display: flex;
    margin: 1rem;
    font-size: 1.2rem;
}

#leftCardLabels {
    text-align: left;
    width: 50%;
}

#leftCardLabels li {
    margin: 10px 0;
}

#leftCardValues {
    text-align: right;
    width: 50%;
}

#leftCardValues li {
    margin: 10px 0;
}

/* #endregion */


/* #region Right Card */
#rightCard {
    overflow-y: scroll;
    overflow-x: hidden;
}

.hourCard {
    margin-bottom: 5px;
    height: 20%;
    width: 100%;
    background-color: white;
    display: grid;
    border: medium solid black;
    border-radius: 25px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

.cardCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion */

/* #endregion */
